-- CreateTable
CREATE TABLE `column` (
    `idColumn` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(200) NOT NULL,
    `order` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `idGoal` INTEGER NOT NULL,

    INDEX `Column_idGoal_fkey`(`idGoal`),
    PRIMARY KEY (`idColumn`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `goal` (
    `idGoal` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(200) NOT NULL,
    `description` TEXT NOT NULL,
    `startDate` DATETIME(3) NOT NULL,
    `endDate` DATETIME(3) NOT NULL,
    `status` ENUM('pending', 'active', 'completed', 'overdue', 'archived') NOT NULL,
    `progress` INTEGER NOT NULL,
    `isPublic` BOOLEAN NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `idUser` INTEGER NOT NULL,
    `background` VARCHAR(512) NULL,

    INDEX `Goal_idUser_fkey`(`idUser`),
    PRIMARY KEY (`idGoal`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `task` (
    `idTask` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(200) NOT NULL,
    `isDone` BOOLEAN NOT NULL,
    `dueDate` DATETIME(3) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,
    `idGoal` INTEGER NOT NULL,
    `idColumn` INTEGER NULL,
    `priority` INTEGER NOT NULL DEFAULT 0,
    `startDate` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `Task_idColumn_fkey`(`idColumn`),
    INDEX `Task_idGoal_fkey`(`idGoal`),
    PRIMARY KEY (`idTask`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `typeofgoal` (
    `idTypeGoal` INTEGER NOT NULL AUTO_INCREMENT,
    `nameType` VARCHAR(100) NOT NULL,
    `theme` VARCHAR(100) NOT NULL DEFAULT '#0958d9',

    PRIMARY KEY (`idTypeGoal`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user` (
    `email` VARCHAR(200) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `idUser` INTEGER NOT NULL AUTO_INCREMENT,
    `password` VARCHAR(200) NOT NULL,
    `point` INTEGER NOT NULL,
    `rank` ENUM('bronze', 'silver', 'gold', 'diamond', 'elite', 'master', 'warlord') NOT NULL,
    `updatedAt` DATETIME(3) NOT NULL,
    `username` VARCHAR(200) NOT NULL,
    `role` ENUM('USER', 'ADMIN') NOT NULL DEFAULT 'USER',

    UNIQUE INDEX `User_email_key`(`email`),
    PRIMARY KEY (`idUser`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `column` ADD CONSTRAINT `Column_idGoal_fkey` FOREIGN KEY (`idGoal`) REFERENCES `goal`(`idGoal`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `goal` ADD CONSTRAINT `Goal_idUser_fkey` FOREIGN KEY (`idUser`) REFERENCES `user`(`idUser`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `task` ADD CONSTRAINT `Task_idColumn_fkey` FOREIGN KEY (`idColumn`) REFERENCES `column`(`idColumn`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `task` ADD CONSTRAINT `Task_idGoal_fkey` FOREIGN KEY (`idGoal`) REFERENCES `goal`(`idGoal`) ON DELETE RESTRICT ON UPDATE CASCADE;

